* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-title {
    background-color: aqua;
    padding: 10px;
    margin-bottom: 10px;
}

.recipes-title {
    background-color: rgb(24, 157, 157);
    padding: 10px;
}

.recipes {
    display: block;
    margin: 10px;
}
